/log/*
/tmp/*
/config/master.key
/.bundle
/.byebug_history
/.DS_DS_Store
/.ruby-version
/.env
/.env.*.local
/coverage/
/node_modules/
/public/packs/
/public/packs-test/
/storage/*
/vendor/bundle
/.yardoc