version: '3'

services:
  app:
    build: .
    environment:
      - DATABASE_HOST=database
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
      - RAILS_ENV=development
    ports:
      - "3000:3000"
    depends_on:
      - database
    volumes:
      - .:/app

  database:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=file_storage_service_development
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: