name: CI

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '3.1.2'

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install

      - name: Run database migrations
        run: |
          bundle exec rails db:migrate

      - name: Run tests
        run: |
          bundle exec rails test