name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install

      - name: Lint and format code
        run: |
          rubocop
          rubycritic

      - name: Run tests
        run: |
          bundle exec rspec

      - name: Build and push Docker image
        run: |
          docker build -t file-storage-service .
          docker tag file-storage-service:latest ${DOCKER_USERNAME}/file-storage-service:latest
          docker push ${DOCKER_USERNAME}/file-storage-service:latest